.bklistBox {
	display: block;
	overflow: hidden;
	padding: 3px;
	margin: 5px;
	height: auto;
	box-shadow: 0px 5px 4px rgba(0,0,0,0.40);
	box-shadow: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=145, Strength=3);
	background-color: #FFFFFF;
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
}
.bklistBox ul {
	display: block;
	overflow: hidden;
	padding: 5px;
	margin: 0px;
	height: auto;
	border: 2px solid #CCCCCC;
}
.bklistBox h3 {
	display: block;
	overflow: hidden;
	font-size: 16px;
	line-height: 1.4em;
	color: #ed6c00;
	background-color: #f5f3f2;
	padding: 3px;
	margin: 0px;
	text-align: left;
}
.bklistBox .ThumbnailPhoto {
	display: block;
	overflow: hidden;
	padding: 0px;
	width: 95px;
	float: left;
	margin-top: 6px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	border: 1px solid #CCC;
}
.bklistBox .ThumbnailText {
	display: block;
	overflow: hidden;
	padding: 0px;
	width: 168px;
	float: right;
	margin-top: 6px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.bklistBox .ThumbnailText .Price {
	display: block;
	overflow: hidden;
	font-size: 18px;
	line-height: 1.4em;
	color: #c8161e;
	text-decoration: none;
	text-align: left;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
}
.bklistBox .ThumbnailText p {
	font-size: 12px;
	line-height: 1.5em;
	text-align: left;
	display: block;
	padding: 0px;
	margin: 0px;
}
.bklistBox .IconBox {
	margin: 0px;
	padding: 0px;
	clear: both;
	display: block;
	text-align: left;
}
.bklistBox .IconBox img {
	padding: 0px;
	display: block;
	overflow: hidden;
	margin-top: 3px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
	float: left;
	text-align: left;
}

#NextBackLinkBox {
	display: block;
	overflow: hidden;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
	text-align: center;
	font-size: 13px;
	line-height: 1.5em;
	color: #ed6c00;
	background-color: #FFF;
	padding-top: 5px;
	padding-bottom: 5px;
}
#NextBackLinkBox a {
	display: block;
	padding: 0px;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 10px;
	float: left;
	overflow: hidden;
	color: #ed6c00;
	font-weight: bold;
	text-decoration: none;
}



div.boxLink {
	padding: 0px;
	margin: 0;
}
div.hover {
	cursor: pointer;
	margin: 0px;
	padding: 0px;
	background-color: #f0f0f0;
}
