* {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-smoothing: antialiased !important;
}

/* Slideshow metrics */
.slideshow {
  width: 310px;
  height: 310px; }

/* ... */
.slides img {
  width: 100%;
  height: 100%;
}

/* Super slide */
.with-overlay {
  position: relative;
}

.with-overlay img,
.with-overlay .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.with-overlay img {
  z-index: 1;
}

.with-overlay .overlay {
  z-index: 2;
  text-align: center;
  line-height: 200px;
}

.with-overlay .in {
  display: inline-block;
  vertical-align: middle;
  padding: 0 20px;
  /* Compensation for dots */
  padding-bottom: 15px;
  line-height: 1.4em;
}


/* 画像のキャプション */
.with-overlay p {
	margin-bottom: 15px;
	display: block;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: rgba(255,255,255,0.55);
	width: 100%;
	overflow: hidden;
	font-size: 13px;
	line-height: 1.5em;
	padding-right: 6px;
	padding-left: 6px;
}


.with-overlay a.action {
  display: inline-block;
  padding: 3px 20px;
  border: solid 2px #ddd;

  text-transform: uppercase;
  font-weight: bold;

  color: white;
  border-radius: 20px;
}

/* Github */
.info {
  margin: 30px auto;
  max-width: 280px;
  text-align: center; }

.info a {
  margin: 0 3px; }

.github iframe {
  margin: 0 auto; }
a.btn,
a.btn:visited {
  display: inline-block;

  color: #333;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8em;

  padding: 2px 10px;
  margin: 0 4px;

  border: solid 2px #666;
  border-radius: 20px;

  min-width: 30px;
}

a.btn:active {
  background: #222;
  border-color: #222;
}
