/* Article */
#ArticleBox {
	display: block;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	background-color: #FFF;
}
#ArticleBox .Price2 {
	display: block;
	overflow: hidden;
	font-size: 24px;
	line-height: 1.4em;
	color: #c8161e;
	text-decoration: none;
	text-align: left;
	padding: 0px;
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: 10px;
	float: left;
}
#ArticleBox .MapLink a {
	display: block;
	overflow: hidden;
	font-size: 12px;
	line-height: 1.4em;
	color: #FFFFFF;
	text-decoration: none;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: 10px;
	float: right;
	font-weight: bold;
	background-color: #4e0900;
	margin-right: 10px;
	padding-top: 2px;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-left: 10px;
}
#ArticleBox .IconBox2 {
	display: block;
	overflow: hidden;
	margin: 5px;
	padding: 0px;
	clear: both;
	float: none;
	text-align: left;
}
#ArticleBox em {
	display: block;
	overflow: hidden;
	padding: 0px;
	clear: both;
	float: none;
	text-align: left;
	font-size: 12.5px;
	line-height: 1.5em;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	margin-left: 5px;
}
#ArticleBox .Gaiyou {
	display: block;
	overflow: hidden;
	font-size: 12.5px;
	line-height: 1.5em;
	text-align: left;
	padding: 0px;
	margin-top: 10px;
	margin-right: 5px;
	margin-bottom: 10px;
	margin-left: 5px;
}
#ArticleBox .Gaiyou li {
	display: block;
	margin: 0px;
	padding-top: 4px;
	padding-bottom: 3px;
	padding-left: 6px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #9FA0A0;
	overflow: hidden;
	background-image: url(../cmn_img/back_gaiyou.jpg);
	background-repeat: repeat-y;
	background-position: left;
}
#ArticleBox .Gaiyou p {
	display: block;
	margin: 0px;
	float: right;
	width: 70%;
	text-align: left;
	overflow: hidden;
	padding: 0px;
}



/* ログイン */
#LoginBox {
	display: block;
	margin: 0px;
	text-align: center;
	overflow: hidden;
	background-color: #FFF;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #e65600;
	border-bottom-color: #e65600;
	font-size: 15.5px;
	line-height: 1.5em;
	padding-right: 0px;
	padding-left: 0px;
}
#LoginBotta a {
	display: inline-block;
	background: rgb(255,255,255); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZGRkZGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(221,221,221,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(221,221,221,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(221,221,221,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(221,221,221,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(221,221,221,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(221,221,221,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 ); /* IE6-8 */
	font-size: 18px;
	color: #e65600;
	font-weight: bold;
	font-family: "ＭＳ ゴシック", "MS Gothic", "Osaka－等幅", Osaka-mono, monospace;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 4px;
	padding-left: 10px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 7px;
	margin-left: auto;
	text-decoration: none;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.30);
	box-shadow: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=145, Strength=3);
	border-radius: 10px;        /* CSS3草案 */
	-webkit-border-radius: 10px;    /* Safari,Google Chrome用 */
	-moz-border-radius: 10px;   /* Firefox用 */
	border: 1px solid #aeaeae;
}



/* 会員フォーム入力 */
#FormBox {
	background-color: #fffcbb;
	display: block;
	margin: 0px;
	overflow: hidden;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 30px;
	padding-left: 0px;
}
#FormBox h5 {
	background-image: url(../cmn_img/form_title.png);
	background-repeat: no-repeat;
	background-position: center top;
	display: block;
	margin-top: 20px;
	margin-bottom: 0px;
	text-indent: -999;
	height: 100px;
	width: 100%;
	font-size: 16px;
	line-height: 1.5em;
	font-weight: bold;
	color: #FFF;
	text-align: center;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#FormBox p {
	display: block;
	padding: 0px;
	overflow: hidden;
	font-size: 12.5px;
	line-height: 1.5em;
	text-align: center;
	margin-top: 13px;
	margin-bottom: 3px;
}



/* 会員登録のメリット */
#MeritBox {
	background-color: #FFFFFF;
	display: block;
	overflow: hidden;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
	font-size: 15px;
	line-height: 1.5em;
}



/* スライダー */
.viewport {
	width: 310px;
	overflow: hidden;
	-webkit-transform: translateZ(0); /* Optional: When heavy at iOS6+ */
}
.flipsnap {
    width: 1240px; /* 320px(item width) * 4(item count) */
}
.flipsnap:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
}
.item {
	float: left;
	width: 310px;
	text-align: center;
	padding: 0px;
	margin: 0px;
}